/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#ecf3ed;
}

header {
  background-color:#3a413c;
  color: #ffffff;
  padding: 1.4em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 1em;
}

header h1 {
  margin: 0;
  color: #a6c7b0;
  font-family: Workforce Combine;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  
}

header h1:hover {
  text-decoration: underline;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 1em;
}

header nav ul li a {
  color: #a6c7b0;
  text-decoration: none;
  font-family: Bebas Neue;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: capitalize;

}

header nav ul li a:hover {
  text-decoration: underline;
}


/* //////////////////// carrito //////////////////////////*/
/* carrito */

/* Contenedor del carrito */
.cart-container {
  display: flex;
  align-items: center;
}

/* Contenedor del dropdown del carrito */
.cart-dropdown {
  position: relative;
  display: inline-block;
}

/* Icono del carrito */
.cart-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Contador de productos */
.product-count {
  margin-left: 10px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 50%;
  background-color: #3bca66;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.75em;
}

/* Contenido del dropdown del carrito */
.cart-dropdown-content {
  position: absolute;
  top: 80px;
  right: 0;
  width: 304px; /* ancho carta */
  z-index: 2;

	padding: 25px;
  background-color:rgb(85 80 64 / 56%);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Mostrar dropdown al hacer hover */
.cart-dropdown:hover .cart-dropdown-content {
  display: block;
}

/* Estilo del título dentro del dropdown */
.cart-title {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 1.2em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 11px;
}

.empty-cart-message {
  margin: 0;
}

/* Estilo de los ítems dentro del dropdown */
.cart-item {
  display: inline-block;
  width: 80%;
  margin-bottom: 0em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0em;
	flex: 0.8;
}

.cart-icon img {
  width:30%;
  height: 30%;
  object-fit: cover;
  margin-right: 1em;
}

.cart-item:last-child {
  border-bottom: none;
}

.item-quantity {
  display: flex;
  margin-right: 1.5em;
  font-size: 1.2em;
  color: #716b6b;
  font-weight: bold;
  transform: translate(49px, -41px);
}

.delete-icon {
  display: flex;
  cursor: pointer;
  width: 25px; /* Tamaño más pequeño */
  height: 25px; /* Mantener proporciones */
  object-fit: contain; /* Ajustar la imagen sin distorsionarla */
  transform: translate(145px, -68px) rotate(36deg);
 
}

.cart-dropdown-content {
  max-height: 313px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart-dropdown-content .product-card__button{
  display: none;
}

/* //////////////////// card produc //////////////////////////*/

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 42px;
  margin: 100px auto;
  padding: 7px;
  width: 100%;
  max-width: 1600px;
}

.product-card {
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(90, 102, 100, 0.521);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  text-align: center;
  padding-block-end: 30px;
}

.product-card__image {
  width: 100%;
  height: 200px; /*rgb(0 0 0 / 52%);*/
  object-fit: contain;
  margin-top: 0;
}

.product-card__info {
  padding: 0px;
  color: #333;
  height: 43%; 
}

.product-card__title {
  font-size: 1.2em;
  margin: 13px;
  color: #494e4cee; 
}

.product-card__price {
  font-size: 1.5em;
  margin: 8px 0;
  color: #298a63ee; 
}

.product-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;     /* Cambia el número de líneas máximas */
  line-clamp: 4;             /* Cambia el número de líneas máximas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.product-card__button {
  background-color: #308b58; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 35px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 13px;
  margin-top: auto;
}

.product-card__button:hover {
  background-color: #235831; 
  transform: scale(1.05);
}

.product-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* footer */
